.temp-conv-wrapper {
  display: grid;
  width: max-content;
  border: 1px gray solid;
  background-color: lightgray;
  border-radius: 4px;
}

.temp-conv-title {
  display: grid;
  justify-content: center;
  background-color: gray;
}

.temp-conv-contents {
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
  padding: 12px;
}
