.flight-booker-wrapper {
  display: grid;
  width: max-content;
  border: 1px gray solid;
  background-color: lightgray;
  border-radius: 4px;
}

.flight-booker-title {
  display: grid;
  justify-content: center;
  background-color: gray;
}

.flight-booker-contents {
  display: grid;
  grid-auto-flow: row;
  column-gap: 8px;
  padding: 12px;
}
